@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "~leaflet.locatecontrol/src/L.Control.Locate.scss";
@import "~select2/dist/css/select2.css";

.frame-type-tilemaps_map {
  .map {
    min-height: 400px;
    width: 100%;
  }
  &.frame-layout-1677587808 {
    .leaflet-tile-pane {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
  .select2 {
    display: block;
  }
  select {
    width: 400px;
  }
}
