@import "~leaflet/dist/leaflet.css";
@import "~leaflet.markercluster/dist/MarkerCluster.css";
@import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "~leaflet.locatecontrol/src/L.Control.Locate.scss";
@import "~select2/dist/css/select2.css";
@import "variables";

.frame-type-tilemaps_map {

  font-size  : var(--ext_tm--font-size);
  line-height: var(--ext_tm--line-height);
  font-weight: normal;
  height     : var(--ext_tm--height);
  width      : var(--ext_tm--width);

  .map {
    height: 600px;
    width : 100%;
  }

  &.frame-layout-1677587808 {
    .leaflet-tile-pane {
      -webkit-filter: grayscale(100%);
      filter        : grayscale(100%);
    }
  }

  .select2 {
    display: block;
  }

  select {
    width: 400px;
  }

  .tile-maps-container {
    display  : flex;
    flex-wrap: no-wrap;
    height   : 100%;

    .map-wrapper {
      width : 100%;
      height: 100%;
    }

    .content-wrapper {
      width           : 100%;
      height          : 100%;
      overflow        : hidden;
      position        : relative;
      display         : flex;
      flex-direction  : column;
      background-color: rgb(var(--ext_tm--content--color-background-rgb));

      .geo-search {
        width           : var(--ext_tm--geosearch--width);
        padding-top     : var(--ext_tm--geosearch--padding-top);
        padding-bottom  : var(--ext_tm--geosearch--padding-bottom);
        padding-left    : var(--ext_tm--content--padding-left);
        padding-right   : var(--ext_tm--content--padding-right);
        color           : var(--ext_tm--geosearch--color);
        background-color: var(--ext_tm--geosearch--color-background);
        flex-grow       : 0;
        flex-shrink     : 0;
      }

      .filter {
        font-size       : var(--ext_tm--filter--font-size);
        line-height     : 1.5;
        color           : var(--ext_tm--filter--color);
        background-color: transparent;
        padding-left    : var(--ext_tm--content--padding-left);
        padding-right   : var(--ext_tm--content--padding-right);
        padding-top     : 1em;
        padding-bottom  : 0;
        flex-grow       : 0;
        flex-shrink     : 0;

        .categories {
          display       : flex;
          flex-wrap     : wrap;
          gap           : 2em;
          padding-left  : -2em;
          padding-right : -2em;
          text-transform: uppercase;

          >* {
            cursor       : pointer;
            border-bottom: 2px transparent solid;

            &:hover {
              color: var(--ext_tm--filter--color-hover);
            }
          }

          input {
            display: none;
          }
          input[type="radio"]:checked + span {
            color          : var(--ext_tm--filter--color-active);
            text-decoration: none;
            border-bottom  : 2px var(--ext_tm--filter--color-active) solid;
          }


        }
      }

      .address-items {
        padding-left: var(--ext_tm--content--padding-left);
        flex-grow   : 1;
        flex-shrink : 1;

        &:after {
          content   : ' ';
          display   : block;
          background: linear-gradient(to top, rgba(var(--ext_tm--content--color-background-rgb), 1) 0%, rgba(var(--ext_tm--content--color-background-rgb), 0) 100%);
          height    : var(--ext_tm--address-items--dimmer-height);
          position  : absolute;
          left      : 0;
          bottom    : 0;
          width     : 100%;
        }


        .address-items-header {
          display         : flex;
          justify-content : space-between;
          color           : var(--ext_tm--address-items-header--color);
          background-color: var(--ext_tm--address-items-header--color-background);
          font-size       : var(--ext_tm--address-items-header--font-size);
          padding         : 1em 0;
          padding-right   : var(--ext_tm--content--padding-right);

        }

        ul {
          list-style     : none;
          padding        : 0;
          margin         : 0;
          height         : 100%;
          width          : auto;
          display        : block;
          overflow-y     : scroll;
          padding-right  : calc(var(--ext_tm--content--padding-right) / 2);
          margin-right   : calc(var(--ext_tm--content--padding-right) / 2);
          scrollbar-width: thin;
          padding-bottom : 5em;


          li {
            padding: 0 0 1em 0;
          }
        }

        .address-item {
          font-size: var(--ext_tm--address-items--font-size);
        }
      }
    }

    .hidden {
      display: none;
    }
  }

  .address-items {
    display       : flex;
    flex-direction: column;
    row-gap       : 10px;
    overflow      : scroll;
    height        : 600px;

  }

  .header,
  .address-item {
    display        : flex;
    justify-content: space-between;

    &:hover,
    &.hover {
      background-color: lightgreen;
    }


    span {
      display: block;

      &[property="name"] {
        font-weight: bold;
      }
    }

    .city {
      span {
        display: inline;
      }
    }
  }

  

}
@import "select2";