@import "~select2/src/scss/core";

.select2-container--tile_maps {
  @extend .select2-container--default;

  &.select2-container--open {
    font-size: var(--tile_maps--geosearch--suggestions--font-size);
    color    : var(--tile_maps--geosearch--suggestions--color);

    .select2-dropdown {
      border       : none;
      border-radius: 0;
      box-shadow   : 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .select2-selection__arrow {
      b {
        // Rotation um 180 grad um z
        transform: rotateZ(180deg);
      }
    }

    .select2-search--dropdown {
      background-color: var(--tile_maps--geosearch--suggestions--color-background);
      padding         : 0;

      .select2-search__field {
        font-size  : var(--tile_maps--geosearch--suggestions--font-size);
        font-weight: normal;
        color      : var(--tile_maps--geosearch--suggestions--color);
        border     : none;
        outline    : none;

        &:active,
        &:focus,
        &:focus-visible {
          border : none;
          outline: none;
        }

      }
    }

    .select2-results {
      color      : var(--tile_maps--color-primary);
      font-weight: normal;
      border-top : 1px solid var(--tile_maps--filter--color);
    }
  }

  .select2-selection--single {
    background-color: var(--tile_maps--geosearch--color-background);
    border          : none;
    border-bottom   : 1px solid #aaa;
    border-radius   : 0;
    height          : unset;

    .select2-selection__rendered {
      color      : var(--tile_maps--geosearch--color);
      line-height: 2;
    }

    .select2-selection__clear {
      cursor       : pointer;
      float        : right;
      font-weight  : bold;
      height       : 26px;
      margin-right : 20px;
      padding-right: 0px;
    }

    .select2-selection__placeholder {
      color         : var(--tile_maps--geosearch--color);
      text-transform: uppercase;
      font-size     : var(--tile_maps--geosearch--font-size);

      &:hover {
        color: var(--tile_maps--geosearch--color-hover);
      }
    }

    .select2-selection__arrow {
      height  : 100%;
      position: absolute;
      right   : 5px;
      top     : 0;
      width   : 20px;

      b {
        border             : none;
        height             : 100%;
        width              : 100%;
        display            : block;
        position           : relative;
        left               : unset;
        top                : unset;
        margin             : 0;
        background-image   : var(--tile_maps--select2-arrow);
        background-repeat  : no-repeat;
        background-position: center;
        background-size    : contain;
      }
    }
  }

}