// Theming
.select2-container--default {
  &.select2-container--open {
    font-size: var(--ext_tm--geosearch--suggestions--font-size);
    color    : var(--ext_tm--geosearch--suggestions--color);

    .select2-dropdown {
      border       : none;
      border-radius: 0;
    }

    .select2-selection__arrow {
      b {
        // Rotation um 180 grad um z

        transform: rotateZ(180deg);
      }
    }

    .select2-search--dropdown {
      background-color: var(--ext_tm--geosearch--suggestions--color-background);
      padding         : 0;

      .select2-search__field {
        font-size  : var(--ext_tm--geosearch--suggestions--font-size);
        font-weight: normal;
        color      : var(--ext_tm--geosearch--suggestions--color);
        border     : none;
        outline    : none;

        &:active,
        &:focus,
        &:focus-visible {
          border : none;
          outline: none;
        }

      }
    }

    .select2-results {
      color      : var(--ext_tm--color-primary);
      font-weight: normal;
      border-top : 1px solid var(--ext_tm--filter--color);
    }
  }

  .select2-selection--single {
    background-color: var(--ext_tm--geosearch--color-background);
    border          : none;
    border-bottom   : 1px solid #aaa;
    border-radius   : 0;
    height          : unset;

    .select2-selection__rendered {
      color      : var(--ext_tm--geosearch--color);
      line-height: 2;
    }

    .select2-selection__clear {
      cursor       : pointer;
      float        : right;
      font-weight  : bold;
      height       : 26px;
      margin-right : 20px;
      padding-right: 0px;
    }

    .select2-selection__placeholder {
      color         : var(--ext_tm--geosearch--color);
      text-transform: uppercase;
      font-size     : var(--ext_tm--geosearch--font-size);
    }

    .select2-selection__arrow {
      height: 26px;

      position: absolute;

      top  : 1px;
      right: 1px;

      width: 20px;

      b {
        border           : none;
        background-image : var(--ext_tm--select2-arrow);
        background-size  : contain;
        background-repeat: no-repeat;
        width            : 22px;
        height           : 22px;
      }
    }
  }

}