.frame-type-tilemaps_map {
  --ext_tm--height                                  : 600px;
  --ext_tm--width                                   : 100%;
  --ext_tm--font-size                               : 20px;
  --ext_tm--line-height                             : 1.1;
  --ext_tm--content--padding-left                   : 20px;
  --ext_tm--content--padding-right                  : 20px;
  --ext_tm--content--color-background-rgb           : 255, 255, 255;
  --ext_tm--geosearch--font-size                    : 22px;
  --ext_tm--geosearch--width                        : 100%;
  --ext_tm--geosearch--padding-top                  : 20px;
  --ext_tm--geosearch--padding-bottom               : 20px;
  --ext_tm--geosearch--color-background             : #00233e;
  --ext_tm--geosearch--color                        : #fff;
  --ext_tm--geosearch--suggestions--color           : #444;
  --ext_tm--geosearch--suggestions--color-background: #fff;
  --ext_tm--geosearch--suggestions--font-size       : 15px;
  --ext_tm--address-items--font-size                : 15px;
  --ext_tm--address-items-header--font-size         : 12px;
  --ext_tm--address-items-header--color             : #6c6b69;
  --ext_tm--address-items-header--color-background  : #fff;
  --ext_tm--filter--font-size                       : 12px;
  --ext_tm--filter--color                           : #6c6b69;
  --ext_tm--filter--color-background                : #fff;
  --ext_tm--filter--color-active                    : #00233e;
  --ext_tm--filter--color-hover                     : black;

}