<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<section class="tile-maps-container">
  <div class="map-wrapper">
    <div class="map" data-endpoint="{f:uri.page(pageUid:settings.tileEndpoint)}"
      data-settings="{f:format.json(value: settings)}"></div>
  </div>
  <div class="content-wrapper {f:if(condition:settings.hideMarkerList,then:'hidden')} ">
    <f:if condition="{settings.enableGeoLocationSearch}">
      <div class="geo-search" data-endpoint="{f:uri.page(pageUid:settings.nominatimEndpoint)}">
        <select class="geo-search" name="geo-search-select"
          data-placeholder="{f:if(condition:settings.selectPlaceholder,then:settings.selectPlaceholder,else:'&nbsp;')}"></select>
      </div>
    </f:if>

    <div class="filter">
      <f:render partial="Filter" arguments="{_all}" />
    </div>

    <div class="address-items">
      <div class="address-items__header">
        <div class="numof"><span class="number">3</span>
          <f:translate key="numof.label" />
        </div>
        <f:if condition="{settings.displayDistanceToLocation}">
          <div class="distance">
            <f:translate key="distance-to-location" />
          </div>
        </f:if>
      </div>
      <div class="address-items__list">
        <f:for each="{addresses}" as="address">
          <f:render partial="AddressItem" arguments="{item:address,settings:settings}" />
        </f:for>
      </div>
    </div>
  </div>
</section>