<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{filterCategories -> f:count()} > 0">
  <div class="categories">
    <label>
      <input type="radio" name="category" value="" checked="checked" />
      <span>Alle</span>
    </label>
    <f:for each="{filterCategories}" as="category">
      <label>
        <input type="radio" name="category" value="{category.uid}" />
        <span>{category.title}</span>
      </label>
    </f:for>
    
  </div>
</f:if>